body {
  /*background-image: url("img/cockpit.png");*/
  /*z-index: 100;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  /*background-attachement: fixed;*/
  padding: 0;
  margin: 0;
}

.terminal {
  height: 400px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: none;
  font-family: 'Press Start 2P';
  color: #44F048;
  padding-top: 1px;
  padding-left: 10px;
}

.counter {
  font-family: 'Press Start 2P';
  color: red;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#cockpit {
  background-image: url("img/cockpit.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#fix {
  height: 500px;
}
