body {
  /*background-image: url("img/cockpit.png");*/
  /*z-index: 100;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  /*background-attachement: fixed;*/
  padding: 0;
  margin: 0;
}

#terminal {
  height: 300px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  opacity: 0.9;
  border: none;
  font-family: 'Press Start 2P';
  color: #44F048;
  margin-top: 230px;
  padding-top: 1px;
  padding-left: 10px;
  box-shadow: 0px 0px 0px 20px rgba(107,107,107, .9);
  border-radius: 5px;
}

.counter {
  font-family: 'Press Start 2P';
  color: red;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#cockpit {
  background-image: url("img/cockpit.png");
  /*background-size: contain;
  background-repeat: no-repeat;*/
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  background-size: cover;
}
