body {
  padding: 0;
  margin: 0;
}

#terminal {
  height: 200px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  opacity: 0.9;
  border: none;
  font-family: 'Press Start 2P';
  color: #44F048;
  margin-top: 230px;
  padding-top: 1px;
  padding-left: 10px;
  box-shadow: 0px 0px 0px 20px rgba(107,107,107, .9);
  border-radius: 5px;
}

#left-console {
  float: left;
  margin-left: 50px;
  margin-top: -30px;
}

#right-console {
  float: right;
  margin-right: 50px;
  margin-top: -30px;
}

.console {
  height: 250px;
  width: 300px;
  display: inline-block;
  border: 3px solid rgb(16, 34, 50);
  border-radius: 5px;
  padding: 7px;
}

.counter {
  font-family: 'Press Start 2P';
  font-size: 50px;
  color: red;
  text-align: center;
  padding-top: 35px;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#planet {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

}

#cockpit {
  background-image: url("img/cockpit.png");
  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}

.wide-btn {
  height: 20px;
  width: 80px;
  outline: none;
}

.rounded-btn {
  height: 20px;
  width: 80px;
  border-radius: 50px;
  outline: none;
}

.long-btn {
  height: 80px;
  width: 40px;
  outline: none;
}

.circle-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
}

.square-btn {
  height: 30px;
  width: 30px;
  outline: none;
}

.oval-btn {
  height: 110px;
  width: 120px;
  border-radius: 35%;
  outline: none;
}

.blue-btn {
  background-color: #144DEA
}

.gold-btn {
  background-color: #A89A3E;
}

.orange-btn {
  background-color: #D25F21;
}

.light-blue-btn {
  background-color: #3C89FB;
}

.grey-btn  {
  background-color: #47616D;
}

/* Modal Dialog Formatting */
.part-img {
  width: 300px;
  height: 300px;
}

.modal-dialog {
  width: 325px;
  height: 325px;
}

.modal-content {
  opacity: 0.9;
  border: none;
  font-family: 'Press Start 2P';
  color: #44F048;
  padding-top: 1px;
  box-shadow: 0px 0px 0px 10px rgba(107,107,107, .9);
  background-color:black;
}

.body-img {
  display: inline-block;
  margin: auto;
}

/* ------------------------*/ /* ---------->>> DRAGGABLE <<<-----------*/ /* ------------------------*/
.draggable {
  width: 150px;
  height: 150px;
  border: 1px solid black;

.image {
  width: 1200px;
  height: 900px;
}
