<div class="modal fade" id="distributor" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You found the Proton Redistributor!  Way to go!</h4>
      </div>
      <div class="modal-body message">
        <img class="part-img" src="../images/distributor.png" alt="">
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Keep Searching</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="whangdoodle" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You found the Whangdoodle!  Way to go!</h4>
      </div>
      <div class="modal-body">
        <div class="body-img">
          <img class="part-img" src="../images/Whangoodle.jpg" alt="">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Keep Searching</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="kaniflin_pin" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You found the Kaniflin Pin!  Way to go!</h4>
      </div>
      <div class="modal-body message">
        <img class="part-img" src="../images/Kaniflin_Pin.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Keep Searching</button>
      </div>
    </div>
  </div>
</div>
