<div id="drag-page">
  <span id="result"></span>

  <div class="div-row">
    <div class="draggable">1</div>
    <div class="draggable">1</div>
    <div id="div2" class="draggable" draggable>2</div>
  </div>
  <div class="div-row">
    <div class="draggable">1</div>
    <div class="draggable">1</div>
    <div class="draggable">1</div>
  </div>
  <div class="div-row">
    <div class="draggable">1</div>
    <div id="div1" class="draggable">1</div>
    <div class="draggable">1</div>
  </div>
</div>
