<div id="drag-page">
  <p>2: <span id="result2"></span></p>
  <p>3: <span id="result3"></span></p>

  <div class="div-row">
    <div id="3drag" class="draggable" draggable>3 drag</div>
    <div class="draggable">1</div>
    <div id="2drag" class="draggable" draggable>2 drag</div>
  </div>


  <div class="div-row">
    <div id="3goal" class="draggable">3 goal</div>
    <div class="draggable">1</div>
    <div class="draggable">1</div>
  </div>


  <div class="div-row">
    <div class="draggable">1</div>
    <div id="2goal" class="draggable">2 goal</div>
    <div class="draggable">1</div>
  </div>
</div>
