<video loop autoplay muted id="bgvid">
  <source src="css/flying.mp4" type="video/mp4">
</video>

<div id="cockpit">

  <div id="terminal">
    <p id="test" ng-init="adaSpeak('Hello. I\'m Ada. Hit the brakes kid! We\'re going down!', 0)">{{ message }}</p>
  </div>


<!-- <div class="counter" ng-init="startCountdown()">
  <h2>00:{{counter}}</h2>
</div> -->



<!-- <button>1</button>
<button>2</button>
<button>3</button>
<button ng-click="stopCountdown()">4</button>
<button>5</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button> -->




</div>
