<video loop autoplay muted id="bgvid">
  <source src="css/flying.mp4" type="video/mp4">
</video>

<div id="cockpit">
  <div id="terminal">
    <p id="test" ng-init="adaSpeak('Hey! Wake up! The ship\'s going to blow! Eject! Hit the eject button! The blue one! No, you idiot! The other blue one! Or is it the orange one?', 0)">{{ message }}</p>
  </div>

  <div id="left-console" class="console">
    <button class="light-blue-btn circle-btn"></button>
    <button class="grey-btn circle-btn"></button>
    <button class="orange-btn circle-btn"></button>
    <button class="light-blue-btn circle-btn"></button>
    <button class="grey-btn circle-btn"></button>
    <br>
    <button class="gold-btn long-btn"></button>
    <div class="two-buttons">
      <button class="orange-btn circle-btn"></button>
      <button class="gold-btn circle-btn"></button>
    </div>
    <button class="light-blue-btn long-btn"></button>
    <button class="orange-btn oval-btn"></button>
    <br>
    <div class="two-buttons">
      <button class="blue-btn rounded-btn"></button>
      <button class="blue-btn rounded-btn"></button>
    </div>
    <button class="orange-btn square-btn"></button>
    <button class="grey-btn square-btn"></button>
    <div class="two-buttons">
      <button class="gold-btn wide-btn"></button>
      <button class="gold-btn wide-btn"></button>
    </div>
  </div>

  <div id="right-console" class="console">
    <div class="two-buttons">
      <button class="orange-btn wide-btn"></button>
      <button class="gold-btn wide-btn"></button>
      <button class="light-blue-btn wide-btn"></button>
      <button class="light-blue-btn wide-btn"></button>
    </div>
    <button class="gold-btn oval-btn"></button>
    <div class="two-buttons">
      <button class="orange-btn square-btn"></button>
      <button class="blue-btn square-btn"></button>
      <button class="orange-btn square-btn"></button>
    </div>
    <div class="two-buttons">
      <button class="light-blue-btn square-btn"></button>
      <button class="blue-btn square-btn"></button>
      <button class="grey-btn square-btn"></button>
    </div>
    <br>
    <button class="orange-btn long-btn"></button>
    <div class="two-buttons">
      <button class="grey-btn square-btn"></button>
      <button class="orange-btn square-btn"></button>
      <button class="blue-btn square-btn"></button>
    </div>
    <div class="two-buttons">
      <button class="orange-btn circle-btn"></button>
      <button class="gold-btn circle-btn"></button>
    </div>
    <div class="two-buttons">
      <button class="orange-btn circle-btn"></button>
      <button class="gold-btn circle-btn"></button>
    </div>
    <button class="light-blue-btn long-btn"></button>
    <button class="grey-btn long-btn"></button>
  </div>

  <!-- <div class="counter" ng-init="startCountdown()"> -->
  <div class="counter">
    <h2 class="animated infinite pulse">00:{{counter}}</h2>
  </div>
</div>
