<video loop autoplay muted id="bgvid">
  <source src="css/flying.mp4" type="video/mp4">
</video>

<div id="cockpit">
  <!-- <img src="css/img/cockpit.png" alt="" /> -->


<!-- <div class="counter" ng-init="startCountdown()">
  <h2>00:{{counter}}</h2>
</div> -->

<div class="terminal">
  <p id="test" ng-init="adaSpeak('Hello. I\'m Ada. Hit the brakes kid! We\'re going down!', 0)">{{ message }}</p>
</div>

<button>1</button>
<button>2</button>
<button>3</button>
<button ng-click="stopCountdown()">4</button>
<button>5</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>
<button>1</button>
<button>2</button>
<button>3</button>

<div id="fix">

</div>


</div>
