<div class="image" ng-mousemove="InventoryFactory.onMouseOver()" ng-click="InventoryFactory.onClick()" >
  <img ng-style="InventoryFactory.invertStyle" src="images/marsbuttes.jpg" alt="" usemap="#ButteMap" style:'position: absolute' no-repeat/>

  <map name="ButteMap" id="ButteMap">
      <area ng-if="InventoryFactory.kaniflin_pin == 0" ng-click="find_pin()" data-toggle="modal" data-target="#kaniflin_pin" href="#" shape="rect" coords="651,455,666,470" />
      <area ng-if="InventoryFactory.whangdoodle == 0" ng-click="find_whangdoodle()" data-toggle="modal" data-target="#whangdoodle" href="#" shape="circle" coords="258,758,10" />
      <area ng-if="InventoryFactory.proton_redistributor == 0" ng-click="find_distributor()" data-toggle="modal" data-target="#distributor" href="#" shape="rect" coords="379,434,399,454" />
  </map>
</div>
