<div class="image">
  <img src="images/marsbuttes.jpg" alt="" usemap="#ButteMap" style:'position: absolute' no-repeat/>
  <map name="ButteMap" id="ButteMap">
      <area ng-click="find_pin()" data-toggle="modal" data-target="#kaniflin_pin" href="#" shape="rect" coords="686,767,660,790" />
      <area ng-click="find_whangdoodle()" data-toggle="modal" data-target="#whangdoodle" href="#" shape="circle" coords="151,832,10" />
      <area ng-click="find_distributor()" data-toggle="modal" data-target="#distributor" href="#" shape="rect" coords="340,459,382,476" />
  </map>
</div>
