
<div id="side-bar">
  <div id="message-center">
    {{message}}
  </div>
  <!-- <div id="oxy-text">
    <h5>Oxygen <br>Bar</h5>
  </div> -->
  <div id="oxygen-bar-holder">
    <div id="oxygen-bar" ng-style="InventoryFactory.myStyle">
      <span style="font-size: .75em;">{{InventoryFactory.oxygenLeft}}</span>
    </div>
  </div>
  <div id="game-controls">
    <button class="orange-btn" ui-sref="homebase">Back to the ship!</button>
  </div>
  <div id="items-list">
    <p class="head">Part Inventory</p>
    <p ng-show="InventoryFactory.whangdoodle == 1">Whangdoodle</p>
    <p ng-show="InventoryFactory.kaniflin_pin == 1">Kaniflin Pin</p>
    <p ng-show="InventoryFactory.proton_redistributor == 1">Proton Redistributor</p>
    <span><p>({{InventoryFactory.parts_found}}/3) Parts Found</p></span>
  </div>
</div>
