
<div id="side-bar">
  <div id="message-center">
    message center
    {{InventoryFactory.count}}
  </div>
  <!-- <div id="oxy-text">
    <h5>Oxygen <br>Bar</h5>
  </div> -->
  <div id="oxygen-bar-holder">
    <div id="oxygen-bar" ng-style="InventoryFactory.myStyle">
      <span style="font-size: .75em;">{{InventoryFactory.oxygenLeft}}</span>
    </div>
  </div>
  <div id="game-controls">
    <h1>game controls</h1>
    <p>
      back to the ship
    </p>

  </div>
  <div id="items-list">
    items list
  </div>
</div>
