
<div id="side-bar">
  <div id="message-center">
    message center
  </div>
  <!-- <div id="oxy-text">
    <h5>Oxygen <br>Bar</h5>
  </div> -->
  <div id="oxygen-bar-holder">
    <div id="oxygen-bar" ng-style="myStyle">
      {{oxygenLeft}}
    </div>
  </div>
  <div id="game-controls">
    <h1>game controls</h1>
    <p>
      back to the ship
    </p>

  </div>
  <div id="items-list">
    <p class="head">Part Inventory</p>
    <p ng-show="InventoryFactory.whangdoodle == 1">Whangdoodle</p>
    <p ng-show="InventoryFactory.kaniflin_pin == 1">Kaniflin Pin</p>
    <p ng-show="InventoryFactory.proton_redistributor == 1">Proton Redistributor</p>
    <span><p>({{InventoryFactory.find_part()}}/3) Parts Found</p></span>
  </div>
</div>
<div id="picture" ng-mousemove="onMouseOver()" ng-click="onClick()">
  <h1>This is where the picture will be</h1>
</div>
