
<div id="side-bar">
  <div id="message-center">
    message center
  </div>
  <!-- <div id="oxy-text">
    <h5>Oxygen <br>Bar</h5>
  </div> -->
  <div id="oxygen-bar-holder">
    <div id="oxygen-bar" ng-style="myStyle">
      {{oxygenLeft}}
    </div>
  </div>
  <div id="game-controls">
    <h1>game controls</h1>
    <p>
      back to the ship
    </p>

  </div>
  <div id="items-list">
    items list
  </div>
</div>
<div id="picture" ng-mousemove="onMouseOver()" ng-click="onClick()">
  <h1>This is where the picture will be</h1>
</div>
